/* Mixins */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-justify-space-center {
  display: flex;
  justify-content: center;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
}
