/* Variables */

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$violet: #1159C7;
$darkTextColor: #303133;
$darkerTextColor: #333333;
$grayBorderColor: #E4E7ED;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#F5A62E;
$subMenuHover:#001528;
$subMenuActiveText:#FFF;
$subMenuActiveBg: rgba(255, 255, 255, 0.22);
$menuBg:#1159C7;
$menuText:#FFF;
$menuActiveText:#FFF; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// Dashboard
$dashboardBgColor: #F8F8F8;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
