// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './svgicon.scss';

/* Global scss */

body {
  height: 100%;
  zoom: 80%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.app-container {
  padding: 20px;
}

.building-bg {
  background: url('../assets/building.png') no-repeat center center;
  background-size: cover;
}

.login-bg {
  background: url('../assets/login-bg.png') no-repeat center center;
  background-size: cover;
}

.login-text-logo {
  width: 498px;
  height: 67px;
  background: url('../assets/login-text-logo.png') no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 400px;
  left: 145px;
}

// icons container div
.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-building {
  background: url('../assets/icons/building.png') no-repeat center center;
  background-size: 100%;
}

.icon-paper-lock {
  background: url('../assets/icons/paper-lock.png') no-repeat center center;
  background-size: 100%;
}

.icon-paper {
  background: url('../assets/icons/paper.png') no-repeat center center;
  background-size: 100%;
}

// overwrite element default styles
.el-button--primary {
  color: #FFFFFF;
  background-color: $violet;
  border-color: $violet;

  &:hover{
    background-color: $violet;
    border-color: $violet;
  }

  &:focus{
    background-color: $violet;
    border-color: $violet;
  }
}

.el-button--secondary {
  color: #FFFFFF;
  background-color: $labelBgColor;
  border-color: $labelBgColor;

  &:hover{
    color: #FFFFFF;
    background-color: $labelBgColor;
    border-color: $labelBgColor;
  }

  &:focus{
    color: #FFFFFF;
    background-color: $labelBgColor;
    border-color: $labelBgColor;
  }
}

.el-tabs__item.is-top{
  padding-left: 20px !important;
}

.el-dialog__header {
  padding: 15px;
}

.el-dialog__title {
  font-size: 16px;
}
